<li class="external-link"><a href="https://github.com/veryhappythings"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/in/macchapman"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/itsmaccy"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://plus.google.com/101477987485055474458"><i class="fa fa-google-plus"></i> Google+</a></li>
<li class="external-link"><a href="http://steamcommunity.com/id/itsmaccy">Steam</a></li>
