<li class="external-link"><a href="https://twitter.com/itsmaccy"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://github.com/veryhappythings"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/in/macchapman"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="http://steamcommunity.com/id/itsmaccy"><i class="fa fa-steam"></i> Steam</a></li>
<li class="external-link"><a href="http://letterboxd.com/maccy/"><i class="fa fa-film"></i> Letterboxd</a></li>
<li class="external-link"><a href="https://untappd.com/user/maccy"><i class="fa fa-beer"></i> Untappd</a></li>
