<a href="https://twitter.com/itsmaccy"><i class="fab fa-twitter"></i></a>
<a href="https://github.com/veryhappythings"><i class="fab fa-github"></i></a>
<a href="https://www.linkedin.com/in/macchapman"><i class="fab fa-linkedin"></i></a>
<a href="http://steamcommunity.com/id/itsmaccy"><i class="fab fa-steam"></i></a>
<a href="http://letterboxd.com/maccy/"><i class="fas fa-film"></i></a>
<a href="https://untappd.com/user/maccy"><i class="fas fa-beer"></i></a>
<a href="http://boardgamegeek.com/user/maccy"><i class="fas fa-chess-rook"></i></a>